/* ----------------head--------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

/* ----------------body--------------- */

button{
    margin: 2% 0%;
    width: 670px;
}

#wrapper{
    margin: 5%;
}


#todocards{
    display: flex;
    flex-wrap: wrap;
    width: 690px;
}


.delBtn {
        position: relative;
        
        width: 16px;
        height: 16px;
        right: 25px;
        bottom: 10px;
      
}